$magnolia-pink: rgb(243, 154, 154);
$magnolia-pink-light: rgba(251, 213, 212, 91);
$magnolia-magnolia: rgb(241, 239,222);
$magnolia-dark: rgb(125, 102, 54);
$magnolia-black: rgb(0,0,0);
$magnolia-white: rgb(255,255,255);
$magnolia-grey: rgb(113, 113, 113)