@use '../sass/colors' as *;

@mixin queries {
	@media (max-width: 1200px) {
		.about-us {
			&__content {
				margin: 3em 4em 0;
			}
		}
		.rooms {
			&__offer {
				margin: 0 4em;
			}
		}
		.area {
			&__title {
				margin: 5em 0 5em 4em;
			}
			&__text {
				margin: 0 4em;
				padding: 0;
			}
			&__maps-big {
				padding: 0 4em;
			}

			&__maps-big-card {
				padding: 1em 1em;
			}
			&__maps-big-cards {
				right: 4%;
			}
		}
	}
	@media (max-width: 1100px) {
		.about-us {
			&__content {
				margin: 3em 2em 0;
			}
		}
		.rooms {
			&__offer {
				margin: 0 2em;
			}
		}
		.area {
			&__title {
				margin: 5em 0 5em 2em;
			}
			&__text {
				margin: 0 2em;
				padding: 0;
			}
			&__maps-big {
				padding: 0 2em;
			}

			&__maps-big-cards {
				right: 2%;
				width: 42%;
			}
		}
	}
	@media (max-width: 992px) {
		h2 {
			padding: 0 0.6em;
		}

		.nav {
			&__bar {
				height: 95px;
			}

			&__bar-logo {
				margin-left: 3em;
				& img {
					width: 100px;
					height: auto;
				}
			}
			&__bar-menu {
				display: none;
			}

			&__bar-others {
				display: none;
			}

			&__bar-burger-menu {
				display: block;
				margin-right: 1.2em;

				& button {
					padding: 0.5em;
					background-color: transparent;
					color: $magnolia-black;
					border: none;
					cursor: pointer;

					& svg {
						width: 2.6em;
						height: 2.6em;
					}
				}
			}

			&__menu-mobile {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				height: 100vh;
				width: 100vw;
				background-color: $magnolia-white;
				transform: translateX(-100%);
				transition: transform 0.4s;

				&.show {
					transform: translateX(0);
				}
			}

			&__menu-mobile-head {
				margin-top: 1em;
				padding: 0 1em;
				display: flex;
				align-items: center;
				justify-content: space-between;

				& img {
					width: 100px;
					height: auto;
				}

				& button {
					margin-right: 0.2em;
					font-size: 3.6rem;
					background-color: transparent;
					color: $magnolia-black;
					border: none;
					cursor: pointer;
				}
			}

			&__menu-mobile-body {
				height: 100%;
			}

			&__mobile-menu-items {
				margin-top: 5em;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				height: 50%;
				list-style: none;

				& a {
					padding: 1em 2em;
					font-size: 2rem;
					text-decoration: none;
					color: $magnolia-black;

					& svg {
						width: 3em;
						height: 3em;
					}
				}

				& :last-of-type {
					& a {
						display: inline-block;
						padding: 0;
						width: 100%;
						height: 100%;
					}
				}
			}

			&__mobile-menu-item {
				padding: 1em 0;
			}
		}

		.head {
			&__h1 {
				padding: 0 1.2em;
				font-size: 4rem;
			}
		}

		.about-us {
			&__title {
				margin: 5em 0;
				align-self: center;
			}
			&__content {
				margin: 1em 5em 0;
			}
		}

		.rooms {
			&__gallery-zoom-box {
				& button {
					&.prev {
						margin-right: -0.6em;
					}

					&.next {
						margin-left: -0.6em;
					}
				}
			}
		}

		.area {
			&__title {
				margin: 5em 0;
				justify-content: center;
				width: 100%;
			}

			&__maps {
				flex-direction: row;
			}

			&__maps-big {
				padding: 0 1em;
			}

			&__maps-big-cards {
				display: none;
			}

			&__maps-big-card {
				margin: 0 1em;
				position: relative;
				border: 1px solid $magnolia-black;
			}

			&__maps-big-box {
				width: 100%;
			}

			&__maps-small {
				padding: 0 1em;
				justify-content: flex-start;
				align-items: flex-end;
				width: 50%;
			}

			&__maps-small-box {
				width: 100%;
				height: 60%;
			}

			&__maps-cards-mobile {
				display: flex;
				width: 100%;
				max-height: 550px;
				height: 100%;
				opacity: 0;
				transition: opacity 0.4s;

				&.show {
					opacity: 1;
				}
			}
		}
		.cookie-baner {
			&__text {
				font-size: 1.4rem;
			}

			&__btn {
				font-size: 1.2rem;
			}
		}
	}
	@media (max-width: 769px) {
		.area {
			&__point-river {
				left: 53%;
				top: 31%;
			}
			&__point-lake {
				left: 27%;
				top: 56%;
			}
		}
		.contact {
			&__box {
				flex-direction: column-reverse;
			}
		}
		.cookie-baner {
			padding: 2em 1em;

			&__btns {
				display: flex;
				flex-direction: column;
			}

			&__btn {
				margin: 0.5em;
			}
		}
	}

	@media (max-width: 560px) {
		.head {
			&__h1 {
				padding: 0 1em;
				font-size: 3.2rem;
			}
		}

		.contact {
			&__box {
				padding: 2em;
			}
			&__info {
				margin: 2em 0;
			}
		}
	}

	@media (max-width: 480px) {
		.head {
			&__h1 {
				padding: 0 1em;
				font-size: 2.2rem;
			}
		}
		.about-us {
			&__icons {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			&__items {
				width: 100%;

				& h3 {
					font-size: 1.8rem;
				}
			}

			&__content {
				margin: 1em 3em 0;
			}
		}

		.rooms {
			&__bg-img {
				opacity: 0.1;
				max-width: 300px;
			}
			&__offer {
				margin: 0 3em;
			}

			&__gallery-box {
				& button {
					display: flex;
					padding: 0.4em 0.6em;
					max-width: 110px;

					& span {
						font-size: 0.8rem;
					}
				}
			}

			&__gallery-zoom-box {
				& button {
					& svg {
						width: 2.4em;
						height: 2.4em;
					}
				}
			}
		}

		.area {
			&__text {
				margin: 0 3em;
				padding: 0;
			}

			&__maps {
				flex-direction: column;
				align-items: flex-end;
			}

			&__point-river {
				left: 53%;
				top: 31%;
			}
		}

		.contact {
			&__box {
				padding: 0 1em;
			}

			&__info,
			&__logo,
			&__map {
				margin: 1em 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
			}

			&__info-cards {
				margin: 1.2em 0;
				align-items: center;
			}
		}

		.footer {
			&__text {
				font-size: 1.2rem;

				& span {
					font-size: 1.2rem;
				}
			}
		}
	}
	@media (max-width: 360px) {
		.rooms {
			&__gallery-box {
				& button {
					padding: 0.4em;
				}
			}
			&__room-one {
				left: 36%;
			}

			&__room-two {
				left: 5%;
			}
			&__room-three {
				right: 5%;
			}

			&__room-four,
			&__kitchen,
			&__bathroom {
				top: 49%;
			}
		}
	}
	@media (max-width: 320px) {
		h2 {
			padding: 0 1em;
			font-size: 3.2rem;
			text-align: center;
		}

		p,
		li,
		span {
			font-size: 1.4rem;
		}
		.head {
			&__h1 {
				padding: 0 1em;
				font-size: 1.8rem;
			}
		}

		.about-us {
			&__title {
				margin: 3em 0;
				align-self: center;

				& h2 {
					padding: 0 0.6em;
				}
			}

			&__content {
				margin: 1em 2em 0;
			}

			&__items {
				margin: 0 1em 2em;

				& h3 {
					font-size: 1.6rem;
				}
			}

			&__items-img {
				& img {
					max-width: 70px;
				}
			}
		}

		.rooms {
			&__title {
				padding-top: 0;
			}

			&__offer {
				margin: 0 2em;

				& h3 {
					font-size: 1.8rem;
				}

				& span {
					font-size: 1.4rem;
				}
			}

			&__offer-list-item {
				font-size: 1.6rem;
			}
		}

		.area {
			&__title {
				margin: 2em 0;
			}

			&__text {
				margin: 0 2em;
			}
		}
	}
}
