@use '../sass/media';
@use '../sass/colors' as *;

@font-face {
	font-family: 'HoneyScriptLight';
	src: url(../../fonts/HoneyScript-Light.ttf);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Ibarra Real Nova', serif;
	scroll-behavior: smooth;
	transition-delay: 1s;
	height: 100%;
}

main {
	position: relative;
	top: 105px;
}

section {
	scroll-margin-top: 95px;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	overflow-x: clip;
}

h2 {
	font-family: 'Lilita One', sans-serif;
	font-size: 4.2rem;
	font-weight: 400;
	color: $magnolia-grey;
}

h3 {
	font-family: 'Ibarra Real Nova', serif;
	font-size: 2rem;
	font-weight: 100;
}

p,
span,
li {
	font-size: 1.8rem;
}

a {
	color: $magnolia-black;
	text-decoration: none;
}

.nav {
	position: fixed;
	width: 100%;
	z-index: 20;

	&__bar {
		display: flex;
		align-items: center;
		top: 0;
		background-color: $magnolia-white;
		height: 105px;
	}

	&__bar-box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 65px;
		background-color: $magnolia-pink-light;
	}

	&__bar-logo {
		display: flex;
		justify-content: center;
		margin-left: 5em;
		width: 15%;

		& img {
			width: 130px;
			height: auto;
		}
	}

	&__bar-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 100%;
	}
	&__bar-items {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 50%;
		list-style: none;
	}

	&__bar-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 1.8rem;
		transition: background-color 0.4s;

		& a {
			padding: 0.5em;
			text-decoration: none;
			color: black;
		}
	}

	&__bar-item:has(a:hover) {
		background-color: $magnolia-white;
	}

	&__bar-others {
		margin-right: 5em;
		display: flex;
		width: 15%;
		height: 100%;

		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			text-decoration: none;
		}
	}

	&__bar-location {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1em;
		height: 100%;
		background-color: $magnolia-magnolia;
		color: $magnolia-dark;
		transition: background-color 0.4s;

		& a {
			font-size: 3.6rem;
			color: $magnolia-dark;
			background-color: transparent;
			cursor: pointer;
			transition: color 0.4s;
		}

		&:hover {
			color: $magnolia-black;
			background-color: $magnolia-white;
		}
	}

	&__bar-reservation {
		display: flex;
		align-items: center;
		padding: 0 1.2em;
		height: 100%;
		background-color: $magnolia-dark;
		transition: background-color 0.4s;

		& a {
			font-size: 1.6rem;
			font-family: 'Ibarra Real Nova';
			text-transform: uppercase;
			color: $magnolia-magnolia;
			cursor: pointer;
			transition: color 0.4s;

			&:hover {
				color: $magnolia-black;
			}
		}

		&:hover {
			background-color: $magnolia-white;
		}
	}

	&__menu-mobile {
		display: none;
	}
	&__bar-burger-menu {
		display: none;
	}
}

.head {
	position: relative;
	top: 105px;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__hero {
		position: relative;
		max-width: 1440px;
		max-height: 677px;
		overflow: hidden;

		& img {
			object-fit: contain;
			width: 100%;
			height: auto;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			max-width: 1440px;
			width: 100%;
			height: 100%;
			background: rgb(251, 213, 212);
			background: linear-gradient(135deg, rgba(251, 213, 212, 1) 6%, rgba(241, 239, 222, 1) 78%);
			opacity: 0.2;
			content: '';
		}
	}

	&__h1 {
		position: absolute;
		padding: 0em 2em;
		display: flex;
		align-items: center;
		height: 15%;
		font-family: 'HoneyScriptLight', serif;
		font-size: 5rem;
		color: $magnolia-pink-light;
		background-color: rgba($magnolia-pink, 0.7);

		& h1 {
			text-shadow: 3px 1px 9px $magnolia-black;
			letter-spacing: 5px;
		}
	}
}

.about-us {
	padding: 2em 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	&__bg-img {
		position: absolute;
		top: 0;
		left: -140px;
		rotate: 90deg;
		transform: scaleX(-1);
		max-height: 865px;
		max-width: 603px;
		opacity: 0.2;
		z-index: -10;
	}

	&__title {
		position: relative;
		margin: 3em 0 5em 10em;
		display: flex;
		align-self: start;

		& h2 {
			padding-right: 1em;
			border-bottom: 2px solid $magnolia-pink;
		}
	}

	&__icons {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 1em 5em;
		width: 33%;

		& h3 {
			text-align: center;
		}
	}

	&__items-img {
		margin-bottom: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $magnolia-magnolia;
		border-radius: 50%;

		& img {
			padding: 2em;
			max-width: 85px;
		}

		&.odd {
			background-color: $magnolia-pink-light;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 3em 10em 0;

		& a {
			font-weight: 700;
		}

		& p {
			margin: .5em 0;
			text-align: justify;
			text-indent: 3ch;
		}

		& span {
			margin: .2em 0;
			font-weight: 700;

			
		}

		& span:last-of-type {
			margin-bottom: 1em;
		}

		.last {
			margin-top: 1em;
			font-weight: 700;
		}
	}
}

.rooms {
	padding:2em 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__bg-img {
		position: absolute;
		bottom: -70px;
		right: -110px;
		max-width: 400px;
		width: 100%;
		height: auto;
		opacity: 0.2;
		z-index: -10;
	}

	&__title {
		margin: 3em 0;

		& h2 {
			padding: 0 1em;
			border-bottom: 2px solid $magnolia-magnolia;
		}
	}
	&__offer {
		margin: 0 10em;
		padding-bottom: 5em;
		display: flex;
		flex-direction: column;
		align-self: self-start;

		& h3 {
			margin-bottom: 1em;
			font-weight: 800;
		}

		& span {
			margin-top: 1em;
		}
	}

	&__offer-list {
		list-style: none;
	}

	&__offer-list-item {
		font-size: 1.8rem;
	}
	&__gallery {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__gallery-box {
		position: relative;
		width: 100%;
		max-width: 600px;

		& img {
			padding: 0 0.5em;
			border-radius: 5px;
		}

		& div {
			position: absolute;
		}

		& button {
			padding: 0.5em 0.8em;
			color: $magnolia-black;
			background-color: $magnolia-magnolia;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.4s;

			&:hover {
				background-color: $magnolia-white;
				transform: scale(0.9);
			}

			& span {
				font-size: 1.2rem;
			}
		}
	}

	&__room-one {
		top: 25%;
		left: 39%;
	}

	&__room-two {
		top: 25%;
		left: 7%;
	}
	&__room-three {
		top: 25%;
		right: 7%;
	}
	&__room-four {
		top: 50%;
		left: 6%;
	}
	&__kitchen {
		top: 50%;
		right: 11%;
	}
	&__bathroom {
		top: 50%;
		left: 35%;
	}
	&__entrance {
		top: 80%;
		left: 7%;
	}

	&__gallery-zoom {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.9);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s;
		z-index: 150;

		&.show {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__gallery-zoom-title {
		& span {
			font-size: 3rem;
			color: $magnolia-white;
		}
	}

	&__gallery-zoom-box {
		padding: 0 1em;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;

		& button {
			display: flex;
			position: relative;
			padding:  0.3em;
			font-size: 4rem;
			color: $magnolia-black;
			background-color: $magnolia-magnolia;
			border: none;
			border-radius: 50%;
			transition: transform 0.4s;
			white-space: nowrap;
			cursor: pointer;
			z-index: 2;

			&.prev {
				margin-right: 0.3em;
			}

			&.next {
				margin-left: 0.3em;
			}

			&:hover {
				transform: scale(0.9);
			}

		}
	}

	&__gallery-zoom-list {
		position: relative;
		width: 100%;
		max-width: 800px;

		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			max-height: 800px;
			max-width: 800px;
			width: 100%;
			height: auto;
			opacity: 0;
			transition: opacity 0.4s;

			&[data-active] {
				opacity: 1;
			}
		}
	}

	&__gallery-close-btn {
		position: absolute;
		top: 2em;
		right: 2%;

		& button {
			padding: 0.5em;
			font-size: 3.6rem;
			color: $magnolia-magnolia;
			background-color: transparent;
			border: none;
			transition: transform 0.4s;
			cursor: pointer;

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}

.area {
	position: relative;
	padding: 2em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		display: flex;
		align-self: start;
		margin: 3em 0 5em 10em;

		& h2 {
			padding-right: 1em;
			border-bottom: 2px solid $magnolia-pink;
		}
	}

	&__text {
		margin-left: 10em;
		padding-right: 5em;
	}

	&__maps {
		display: flex;
		flex-direction: column;
		padding: 3em 0;
		width: 100%;
	}

	&__maps-big {
		padding: 0 10em;
		position: relative;
		display: flex;
		justify-content: flex-start;
		gap: 1em;
		width: 100%;
	}

	&__maps-big-box {
		position: relative;
		width: 55%;

		& .big-map {
			width: 100%;
			height: 100%;
			border: 1px solid $magnolia-black;
			border-radius: 5px;
		}

		& button {
			background-color: transparent;
			border: none;

			& img {
				height: 30px;
			}
		}
	}

	&__point-magnolia {
		position: absolute;
		left: 49%;
		top: 7%;
		width: 20%;

		& .mapa-logo {
			position: absolute;
			top: 70%;
			width: 100%;
			border: none;
		}
	}
	&__point-museum {
		position: absolute;
		left: 64%;
		top: 49%;
		width: 10%;
	}

	&__point-church {
		position: absolute;
		left: 60%;
		top: 54%;
	}
	&__point-lake {
		position: absolute;
		left: 27%;
		top: 59%;
	}
	&__point-river {
		position: absolute;
		left: 54%;
		top: 34%;
	}

	&__maps-big-cards {
		position: absolute;
		right: 5%;
		width: 40%;
		height: 100%;
		border: 1px solid $magnolia-black;
		border-radius: 5px;
		opacity: 0;
		transition: opacity 0.4s;

		&.show {
			opacity: 1;
		}
		
	
	}

	&__maps-big-card {
		display: flex;
		flex-direction: column;
		position: absolute;
		padding: 3em 2em;
		width: 100%;

		& h3 {
			padding-left: 1em;
			font-size: 2.2rem;
			text-align: center;
		}

		& p {
			font-size: 1.3rem;
		}

		& ul {
			padding: 1em 0 1em 2em;
			list-style: circle;
		}

		& li {
			font-size: 1.3rem;
		}

		& img {
			max-width: 100px;
		}
	}

	&__card-title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1.2em;
	}

	&__card-big-img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			padding: 0 0.5em;
			width: 110px;
			height: 70px;
		}
	}
	&__card-big-info-box {
		& div {
			padding: 0.2em 0;
		}

		& span {
			font-size: 1.3rem;
			vertical-align: super;
		}

		& i {
			padding-right: 0.5em;
			font-size: 2rem;
		}

		& a {
			text-decoration: none;
			color: $magnolia-black;
		}
	}

	&__maps-small {
		display: flex;
		justify-content: flex-end;
		gap: 1em;
		width: 85%;
	}

	&__maps-small-cards {
		width: 55%;
	}

	&__maps-small-box {
		position: relative;
		width: 35%;
		padding-top: 2em;

		& .small-map {
			width: 100%;
			height: 100%;
			max-width: 350px;
			border: 1px solid $magnolia-black;
			border-radius: 5px;
		}

		& button {
			background-color: transparent;
			border: none;
			cursor: pointer;

			& img {
				height: 30px;
			}
		}
	}
	&__point-mountains {
		position: absolute;
		left: 25%;
		top: 45%;
	}

	& .point-on-map {
		transform: scale(1);
		transition: transform 0.4s;
		cursor: pointer;

		&:hover {
			transform: scale(2);
		}
	}

	&__maps-cards-mobile {
		display: none;
	}

	&__bg-img {
		position: absolute;
		bottom: -50px;
		left: -150px;
		max-width: 400px;
		width: 100%;
		height: auto;
		opacity: 0.2;
		transform: scaleX(-1);
		z-index: -10;
		transition: opacity .4s;

		&.opacity {
			opacity: .05;
		}
	}
}

.contact {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $magnolia-magnolia;



	&__title {
		padding: 2em;
		z-index: 2;
	}
	&__box {
		padding: 2em 5em;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap-reverse;
		width: 100%;
		z-index: 2;
	}

	&__logo {
		margin: 2em 0;
		display: flex;
		justify-content: center;
		flex-grow: 1;
		& img {
			max-width: 220px;
			width: 100%;
			height: auto;
		}
	}

	&__info {
		margin: 2em;
		display: flex;
		justify-content: space-around;
		flex-grow: 3;
		& a {
			padding: 0.2em;
			font-size: 1.4rem;
			text-decoration: none;
			color: $magnolia-black;
		}
	}

	&__info-cards {
		margin: 0 1em;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: center;

		& h3 {
			padding-bottom: 0.5em;
			font-size: 2rem;
			font-weight: bold;
		}

		& span {
			padding: 0.2em 0;
			font-size: 1.4rem;
		}
	}

	&__media-icons {
		& a {
			font-size: 2.6rem;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}


	}

	&__map {
		position: relative;
		margin: 2em 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;

		& img {
			max-width: 250px;
			width: 100%;
			height: auto;
		}

	}

	&__map-point {
		position: absolute;
		padding: 1em 1.6em;
		top: 56%;
		left: 49%;
		cursor: pointer;

		& span {
			font-size: 1.6rem;
		}
	}
}

.footer {
	position: relative;
	top: 105px;
	padding: 1em 0;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: $magnolia-pink-light;

	&__text {
		font-size: 1.6rem;

		& span {
			font-size: 1.6rem;
		}
	}
}

@include media.queries;
